@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
   
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#380036 , #0CBABA);
}

.logout{
position: fixed;
right: 3%;
top:3%;
}