@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.logout{
position: fixed;
right: 5%;
top:5%;
}
p{
	color: #fff;
    font-weight: bold;
}
body{
	
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125vh;
    background-image: linear-gradient(#380036 , #0CBABA);
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 10px 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,0.2);
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);
}
h2{
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 1px solid silver;
}
.content
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n)
{
    justify-content: end;
}
.input-box label,gender-title{
    width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.gender-title{
   width: 95%;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
}
.input-box input{
    height:40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
select{
    height:40px;
    width: 95%;
    margin:0;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.gender-category label{
    padding: 0 20px 0 5px;
    font-weight:bold;
}
.gender-category{
    color: gainsboro;
}
.gender-category label,.gender-category input{
    cursor:pointer;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#aa076b,#61045f);
    cursor: pointer;
    transition: 0.3s;
}
.button-container button:hover{
    background-image: linear-gradient(to right,#61045f,#aa076b);
}
input[type="submit"] {
	justify-content: center;
	cursor: pointer;
	outline: 0;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button {
	justify-content: center;
	cursor: pointer;
	outline: 0;
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 16px;
	border-radius: .25rem;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button :hover {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
}
@media(max-width:600px){
    .container{
        min-width: 280px;
    }
    .content{
        max-height: 380px;
        overflow: auto;
    }
    .input-box{
        margin-bottom: 12px;
        width: 100%;
    }
    .input-box:nth-child(2n){
        justify-content: space-between;
    }
    .gender-category{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .content::-webkit-scrollbar{
        width: 0;
    }
}